html {
  background-color: var(--dark-grey);
}

.login-page {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 20px;
  width: 400px;
}

.login-container h2 {
  color: var(--yellow);
  font-size: 5rem;
  font-weight: 400;
}

.input-container {
  width: 400px;
}

.info {
  color: grey;
  margin-left: 8px;
}

.info:hover {
  color: var(--yellow);
}

.login-container input {
  background-color: var(--dark-grey);
  border: white 1px solid;
  border-radius: 5px;
  color: white;
  flex-shrink: 1;
  font-family: var(--font1);
  font-size: 1.5rem;
  padding: 14px;
  width: 332px;
}

.login-container button {
  background-color: var(--yellow);
  border: solid 1px var(--dark-grey);
  border-radius: 5px;
  font-family: var(--font1);
  font-size: 1.5rem;
  padding: 15px;
  width: 360px;
}

.login-container button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: white 1px solid;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: var(--font1);
  font-size: 1.5rem;
  padding: 15px;
  width: 100%;
}

.login-container button:disabled {
  cursor: not-allowed;
}

