form {
  display: flex;
  font-size: 1.2rem;
  gap: 15px;
  justify-content: space-around;
  padding: 15px;
}

form label {
  color: white;
  flex-grow: 1;
}

form label input , select {
  background-color: var(--dark-grey);
  border: var(--yellow) 1px solid;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  padding: 5px;
  width: 90%;
}

form button {
  background-color: var(--yellow);
  border: var(--yellow) 1px solid;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font1);
  font-size: 1rem;
  font-weight: 500;
  margin-right: 2px;
  padding: 15px;
}

form button:nth-child( 2 ) {
  background-color: rgb(206, 139, 139);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 5px;
  padding: 15px;
}


form button:hover {
  background-color: var(--dark-grey);
  color: white;
}

@media screen and ( max-width : 1200px ) {

  form {
    display: flex;
    flex-flow: wrap;
    font-size: 1.2rem;
    gap: 15px;
    justify-content: space-around;
    padding: 15px;
  }

  form label input , select {
    width: 90%;
  }
}
