table {
  border: var(--yellow) 1px solid;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  gap: 15px;
  margin: auto;
  padding: 15px;
  width: 98.3%;
}

table thead , tr {
  width: 100%;
}

table tr {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

th , td {
  margin: 15px 0;
  text-align: center;
  width: 11%;
}

th {
  color: var(--yellow);
}

table button {
  border-radius: 5px;
  font-family: var(--font1);
  font-weight: 500;
  margin: 5px;
  padding: 10px;
  width: 60px;
}

table button:nth-of-type( 1 ) {
  background-color: var(--yellow);
}

table button:nth-of-type( 2 ) {
  background-color: rgb(206, 139, 139);
}

table button:nth-of-type( 1 ):hover {
  background-color: var(--dark-grey);
  border: 1px solid var(--yellow);
  color: white;
  cursor: pointer;
}

table button:nth-of-type( 2 ):hover {
  background-color: var(--dark-grey);
  border: 1px solid rgb(206, 139, 139);
  color: white;
  cursor: pointer;
}

@media screen and ( max-width : 1200px ) {

  * {
    font-size: 1rem;
    overflow: hidden;
  }
}
